[submodule "torrent-downloader"]
	path = torrent-downloader
	url = https://github.com/MickMarch/torrent-downloader.git
[submodule "medialab-bot"]
	path = medialab-bot
	url = https://github.com/MickMarch/medialab-bot.git
[submodule "medialab-jellyfin"]
	path = medialab-jellyfin
	url = https://github.com/MickMarch/medialab-jellyfin.git
